/* -- Chung -- */
footer{
    position: relative;
    z-index: 1;
}

/*  -- Bố trí thông tin -- */
.Khung_chinh{
    z-index: 0;
    display: grid;
    grid-template-areas: 
    "QuanLy ThongTin ThongTin ThongTin ThongTin";
}
.ThanhQuanLy{
    grid: "QuanLy";
    z-index: 0;
    border: 1px solid;
    height: 100vh;
    background-color: #222831;
    color: #EEEEEE;
    overflow: auto;
}
.ThanhThongTin{
    grid: "ThongTin";
    width: 78vw;
}
.BoTriMuc,.BoTriMuc_ds{
    text-align: center;
    cursor: pointer;
    padding: 2vh 0 2vh 0;
    display: block;
    font-size: 1.25em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #EEEEEE;
}
.BoTriMuc:hover , .BoTriMuc_ds:hover{
    background-color: #00ADB5;
}
#NutChuyenTrangThemMauTin{
    padding: 2vh;
    margin: 2vh 0 2vh 3vh;
}

/*Bảng thông tin*/
#BangThongTin{
    overflow: auto;
    height: 100vh;
}
.fa-backward{
    padding: 1.25vh;
    font-size: 1.25rem;
    border-radius:6px ;
    margin: 1vh 0 0 2vh;
    background-color: rgb(68, 68, 232);
    color: #EEEEEE;
    box-shadow: 2px 4px 4px rgb(162, 161, 161);
}
.fa-backward:hover{
    background-image: linear-gradient(to left,rgb(68, 125, 232),rgb(68, 95, 232),rgb(68, 68, 232) );
}
/*Bảng thêm mẫu tin*/
#BangThemThongTin{
    display: none;
}
/*Ẩn hết các bảng trừ bảng thống kê*/
#ThongTinSinhVien,#ThongTinGiaoVienHuongDan,#ThongTinDonViThucTap,#ThongTinCanBoHuongDan,#BaoCaoDS_dvtt,#BaoCaoDS_GVHD,#BaoCaoDS_deTai,#BaoCaoDiemSoThucTap,#BaoCaoSVThucHienLai{
    display: ;
}
#ThongTinDonViThucTap{
    display: none;
}