/* --- Biểu mẫu thêm đơn vị thực tập --- */
/*Lớp*/
.BangChinh{
    display: grid;
    grid-template-areas: 
    "BangTrai BangPhai";
    z-index: 0;
    height: auto;
}
.BangTrai{
    grid: "BangTrai";
}
.BangPhai{
    grid: "BangPhai";
}
.BangTrai,.BangPhai{
    margin-left: 3vw;
}
.inputDangNhap,.TruongDiaChi{
    display: flex;
    left: 55%;
    width: 30vw;
}
.TruongDiaChi{
    height: 10vh;
}
.KhoChuaNut{
    display: flex;
}
#Huy{
    margin-top: 4vh;
    margin-left: 2vw;
    padding: 1vw;
    height: 4vw;
}
.TieuDeDangKy{
    text-align: center;
    margin: 2vh;
}
.KhungChua{
    position: relative;
    border: 1px black solid;
    width: auto;
    margin: 2vw 0 2vw 0;
    padding: 1vw;
    z-index: 0;
}
/* --- Bố trí bảng đơn vị thực tập ---*/
.ThongTin_DVTT{
    border: 1px solid black;
    border-collapse:collapse;
    width: 100%;
    color: #333;
    overflow: hidden;
}
.thongTinHang{
    border: 1px solid rgb(116, 116, 116);
    background-color: #fff;
    text-align: center;
    padding: 0.5em;
}
.ThongTin_DVTT .row_TTdvtt:nth-child(even) .thongTinHang{
    background-color: #f2f2f2;
}
.ThongTin_DVTT .row_TTdvtt:hover .thongTinHang{
    background-color: #ffedcc;
}
.TieuDe_TTdvtt{
    background-image: linear-gradient(to left,rgb(68, 125, 232),rgb(68, 95, 232),rgb(68, 68, 232) );
    color: aliceblue;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0.5em;
}
.DanhDau{
    width: auto;
}
.DiaChiDVTT{
    width: 15vw;
    height: 10vh;
}
main{
    display: flex;
    justify-content: center;
}
.TruongDiaChi{
    width: 15vw;
    height: 5vw;
}