
/*Xem danh sách sinh viên được giao cho giáo viên hướng dẫn*/
.banhDanhSachSinhVien th, .banhDanhSachSinhVien td{
    padding: 1.25vw 1vh 1.25vw 1vh;
    border: solid 1px rgb(164, 163, 163);
}
.banhDanhSachSinhVien tr:nth-child(odd){
    background-color: rgb(238, 238, 236);
}
.banhDanhSachSinhVien tr:hover{
    background-color: rgb(250, 234, 176);
}
.banhDanhSachSinhVien{
    background-color: #fff;
    border: solid 1px rgb(164, 163, 163);
    border-radius: 5px;
    text-align: center;
    border-collapse: collapse;
}
.TruongTieuDeSinhVienDuocNhan{
    font-family: Arial;
    color: #eee;
    background-image: linear-gradient(to right, rgb(24, 23, 23),rgb(16, 14, 14));
}
.NutXemGiayGioiThieu,.NutXemThongTinTiepNhanThucTap{
    display: block;
    border: solid 1px black;
    cursor: pointer;
    padding: 1vh;
    color: #eee;
    background-color: #0039D7;
    text-decoration: none;
    border-radius: 5px;
}
.NutXemGiayGioiThieu:hover,.NutXemThongTinTiepNhanThucTap:hover{
    background-color: #007dd7;
    transition: 0.25s;
}
.fa-circle-xmark,.fa-circle-check{
    background-color: #dfdede;
    font-size: 2em;
    border-radius: 100%;
    text-shadow: 1px 2px 2px rgb(187, 187, 187);
    
}
.fa-circle-check{
    color: rgb(0, 212, 0);
}
.fa-circle-xmark{
    color: rgb(225, 6, 6);
}
.NutXemDiemSinhVien {
  backface-visibility: hidden;
  background: #332cf2;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.NutXemDiemSinhVien:disabled {
  color: #787878;
  cursor: auto;
}

.NutXemDiemSinhVien:not(:disabled):hover {
  transform: scale(1.05);
}

.NutXemDiemSinhVien:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.NutXemDiemSinhVien:focus {
  outline: 0 solid transparent;
}

.NutXemDiemSinhVien:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.NutXemDiemSinhVien:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.NutXemDiemSinhVien:not(:disabled):active {
  transform: translateY(.125rem);
}
/*Trang chấm báo cáo*/
.TieuDeNganhKHMT{
    color: rgb(225, 6, 6);
}
.BangChinhThongTinPhieuTheoDoi{
    width: 70vw;
}
.CotKetThuc{
    text-align: left;
}
.NutNop,.NutReset,.ChuaHoanThanhThucTap{
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    padding: 1vw 2vw;
    margin: 3vh 0 3vh 0;
    border: 1px solid rgb(33, 31, 31);
    box-shadow: 2px 4px 4px rgb(104, 102, 102);
}
.NutNop{
    margin-right: 2vw;
    color: #eee;
    background-color: rgb(5, 148, 5);
}.NutNop:hover{
    color: #fff;
    padding: 1.25vw 2.15vw;
    transition: 0.35s;
    background-color: rgb(1, 135, 1);
}
.NutReset{
    margin-right: 2vw;
    color: #eee;
    background-color: rgb(71, 77, 71);
}.NutReset:hover{
    color: #fff;
    padding: 1.25vw 2.15vw;
    transition: 0.35s;
    background-color: rgb(24, 28, 24);
}
.cotKetThucChung{
    background-color: rgb(30, 28, 28);
    color: #eee;
}
.ObiVoHieuHoa{
    background-color: rgb(243, 205, 102);
    color: #000;
    font-weight: 550;
}
.ChuaHoanThanhThucTap{
    padding: 1vh;
    color: #eee;
    background-image: linear-gradient(to left, rgb(26, 23, 199),rgb(35, 32, 212),rgb(44, 41, 219),rgb(59, 57, 232));
}

