/*Toàn thể*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Thân trang*/
main{
    padding-bottom: 3vw;
}
/*Chân trang*/
footer{
    display: grid;
    margin: 0;
    grid-template-areas: 
    "ChanPhai ChanTrai";
    border: 1px solid rgb(157, 157, 157);
    display: flex;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 12vh;
    color: aliceblue;
    background-image: linear-gradient(to left,rgb(68, 125, 232),rgb(68, 95, 232),rgb(68, 68, 232) );
}
.ChanBenPhai{
    grid: "ChanPhai";
    width: 40vw;
}
.ChanBenTrai{
    grid: "ChanTrai";
    display: grid;
    grid-template-areas: 
    "ChanTrai1 ChanTrai2";
    width: 60vw;
}
.ChanBenPhai,.ChanBenTrai{
    margin: 2vh 0 2vh 0;
    font-family: 'Times New Roman', Times, serif;
}
.ChanTrai1{
    grid: "ChanTrai1";
}
.ChanTrai2{
    grid: "ChanTrai2";
}

