/*Toàn thể*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*  --- Đầu trang  --- */
header{
    z-index: 1;
}
.DauTrang{
    display: grid;
    grid-template-areas: 
    'Logo NutChucNang';
    margin-bottom: 3vh;
    background-image: url( ../../Image/AnhDauTrang.jpg);
    width: 100vw;
    height: 15vh;
}
.logo{
    grid: 'Logo';
}
.AnhLogo{
    cursor: pointer;
    margin: 0;
    height: 18vh;
    width: 40vh;
    padding: 0;
    margin-left: 5vw;
}
.CacNut{
    display: flex;
    grid: 'NutChucNang';
    justify-content: flex-end;
    align-items: center;
}
.NutThoat,.NutTrangChu{
    margin: 0 2vh 0 0;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    padding: 3px;
    font-family: Arial;
    background-color: rgb(164, 212, 247);
    color: rgb(38, 38, 246);
    cursor: pointer;
    box-shadow: 2px 3px 3px rgb(51, 99, 133);
}
.NutThoat:hover,.NutTrangChu:hover{
    color: rgb(85, 4, 206);
}
.fa-house,.fa-door-open{
    font-size: 1.25em;
    margin-right: 1vh;
    text-shadow: 2px 3px 3px rgb(141, 205, 250);
}
.fa-house{
    color: blue;
}
.fa-door-open{
    color: red;
}

/*Thân trang*/
main{
    padding-bottom: 3vw;
}
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
input, textarea ,option, select{
    color: rgb(18, 17, 17);
}

/*Chân trang*/
footer{
    display: grid;
    margin: 0;
    grid-template-areas: 
    "ChanPhai ChanTrai";
    border: 1px solid rgb(157, 157, 157);
    display: flex;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 12vh;
    color: aliceblue;
    background-image: linear-gradient(to left,rgb(68, 125, 232),rgb(68, 95, 232),rgb(68, 68, 232) );
}
.ChanBenPhai{
    grid: "ChanPhai";
    width: 40vw;
}
.ChanBenTrai{
    grid: "ChanTrai";
    display: grid;
    grid-template-areas: 
    "ChanTrai1 ChanTrai2";
    width: 60vw;
}
.ChanBenPhai,.ChanBenTrai{
    margin: 2vh 0 2vh 0;
    font-family: 'Times New Roman', Times, serif;
}
.ChanTrai1{
    grid: "ChanTrai1";
}
.ChanTrai2{
    grid: "ChanTrai2";
}

